---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
feature_row:
  - image_path: teasers/logan_cropped.jpg
    alt: "A person using the Gaze Aware analysis tool to solve a sensemaking puzzle"
    title: "GazeAware AI in XR"
    excerpt: "A case study of developing a Gaze Aware AI to help users make sense of raw data with many-to-many connections."
    url: "/post/2025/09/case-study-gist/"
    btn_label: "Read the Case Study"
    btn_class: "btn--inverse"
  - image_path: photography/golden_gate.jpg
    alt: "Sample photography"
    title: "Photography"
    excerpt: "A small collection of photos from my journey of self-understanding and preserving memory."
    url: "/portfolio/photography"
    btn_label: "See the Photos"
    btn_class: "btn--inverse"
---

{% include base_path %}

{% include feature_row %}

<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->